# dataframe
pandas
# yahoo finance
yfinance
# open ai
openai
# plat
plotly
# ???
nbformat
# old gcp ai api?
google-cloud-aiplatform

# square api
#squareup
# square api - this does not work. It requires a git clone
#square-python-sdk
git+https://github.com/square/square-python-sdk.git


# langchain api
langchain
# allows .env file in current dir
python-dotenv
# ?
shapely<2.0.0
