<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<link rel="stylesheet" type="text/css" href="css/stylesnav.css">
<link rel="manifest" href="manifest.json" >

<meta charset="UTF-8">

<title>rtp-gcp.org</title>
<link rel="shortcut icon" type="image/png" href="imgs/favicon-16.png">
</head>

<body>

<header class="myheader">

<div class="mydiv">

    <img src="imgs/rtpgcp_single_logo_112x67.png" alt="logo" class="logo">
    <nav>
        <ul>
        <li><a href="index.ejs">App</a></li>
        <li><a href="doit.ejs">Doit</a></li>
        <li><a href="about.ejs">About</a></li>
        </ul>
    </nav>


</div>
</header>


<!-- ---------------------------------------------------------------- -->

<div class="the_body">

  <H1> About </H1>

  <div>
  <p> History
  <p>
    20230521 simple appengine with firebase stub
  </p>
  </div>



</div>
</body>
<footer>
    <a href="http://www.vim.org/" >
        <img src="imgs/vim_header.png" alt="logo" class="logo">
    </a>
    <a href="https://developer.chrome.com/docs/devtools/" >
        <img src="imgs/devtools-96x48.png" alt="logo" class="logo">
    </a>
</footer>
</html>
