<!DOCTYPE html>
<html lang="en">
<head>
<!--meta name="viewport" content="width=device-width", initial-scale=1.0"-->
<!--meta http-equiv="X-UA-Compatible" content="ie=edge"-->

<!--  The type= field needs to match what express provides.  Although the docs -->
<!--  for Chrome say test/css, express is supplying a mime type of -->
<!--  text/html in the headers. -->
<!--  If they are text/css, they will effect style.   -->
<!--  If they are text/html, they do not effect style. -->
<!--   -->
<!--   -->
<!--   -->
<link rel="stylesheet" type="text/css" href="css/styles.css">
<link rel="stylesheet" type="text/css" href="css/stylesnav.css">
<link rel="manifest" href="./manifest.json" >


<meta charset="UTF-8">

<title>App Engine with Firebase Stub App</title>
<link rel="shortcut icon" type="image/png" href="imgs/favicon-16.png">
</head>


<body>

<header class="myheader">

<div class="mydiv">

  <img src="imgs/rtpgcp_single_logo_112x67.png" alt="logo" class="logo">

  <nav>
    <ul>
      <li><a href="index.ejs">App</a></li>
      <li><a href="doit.ejs">Doit</a></li>
      <li><a href="about.ejs">About</a></li>
    </ul>
  </nav>
</div>
</header>


<!-- ---------------------------------------------------------------- -->


<div class="the_body">

	<H1> Demo for use of router module and hiding API keys </H1>
	<H2> Webapp is hosted on GCP App Engine </H2>


<div>20230528 App Engine with Firebase Stub
    <ul>
    <li> Src <a href="https://github.com/rtp-gcp/gcp_icy_bridge/tree/main/webapp/router2">here</a> </li>
    </ul>
</div>

  <div>
    <!-- This is cool. express can recognize that the doit.ejs URL needs to be rewritten. -->
    <p> Use the <a href="doit.ejs">DOIT</a> page to demo the app using the 
    <a href="https://openweathermap.org/">openweathermap.org</a> api. 
    </p>
  </div>

  <div>
    <p> 
    </p>
  </div>

  <div>
    <p> 
    </p>
  </div>

  <div>
    <p> 
    </p>
  </div>

  <div>
    <p> 
    </p>
  </div>

  <div>
    <p> 

    </p>

  </div>


  <div>
    <p> 
    </p>
  </div>






</div> <!-- the body container -->
</body>
<footer>
  <a href="http://www.vim.org/" >
    <img src="/imgs/vim_header.png" alt="logo" class="logo">
  </a>

  <a href="https://developer.chrome.com/docs/devtools/" >
      <img src="imgs/devtools-96x48.png" alt="logo" class="logo">
  </a>
</footer>





</html>
